@charset "utf-8";

#menu{
	height:460px;
	width:150px;
	position:fixed;
	
	
}

#top{
	height:80px;
	width:10%;
	margin-left:20px;
	font-size:10px;
	font-style:inherit;
	
	
}

#top img{
height:80px;
border-style:none;
border-radius:50%;

	
	
}




#left{
	 border-style:solid;
	border-color:gray;
	border-left:none;
	border-top:none;
	border-bottom:none;
	border-width:1px;
position:absolute;
margin-top:90%;
margin-left:0px;
height:300px;
width:150px;	
	
}

#left ul{
	display:block;
	list-style-type:none;
	margin-top:5em;
	
	
}


#left li{
	display:block;
	height:50px;
}

#left li a{
	color:black;
	text-decoration:none;
	display:inline-block;
	cursor: pointer;
	transition:all 0.4s ease;
}


#left li a:hover{
    color:gray;
	border-bottom:solid 1px black;
		
	
	
}



#title{
	height:992px;
	width:1432px;
	margin-left:15%;
    
 	
	
}



#learn{
	display:block;
	box-sizing:border-box;
	top:-380px;
	left:550px;
	position:relative;
	font-family:微軟正黑體;
	color:white;
	font-weight:900;
    font-size:50px;
	text-align:center;
	border:solid white;
	border-width:8px;
	width:400px;
	height:85px;
	transition: all 0.4s ease;	
	
}
#learn a{
	margin-top:0px;
	color:white;
	text-decoration:none;
	
	
}

#learn:hover{
	
	border-width:5px;
	font-weight:700;
	transform:scale(1.1,1.1);
	
	
	
}

#bt4{
	
	font-size:20px;
	height:20px;
	width:50px;
	position:fixed;
	top:750px;
	right:100px;

	
	
}



#bt4 h2{
	border-width:px;
	font-family:微軟正黑體;
	width:82px;
	border:solid;
	background:white;
	
	
}

#bt4 h2:hover{
  background:#C4C4C4;
  	
}
 
	
	






#home{
width:auto;
height:50%;	
	
	
}

#home img{
	
	-webkit-filter:opacity(0.7);
	
}



#intro{
	width:95%;
    border-style:none;
	border-top:solid;
	position:absolute;
	margin-top:550px;
	font-family:微軟正黑體;	
	
}

#works{
	
    	width:95%;
    border-style:none;
	border-top:solid;
	position:absolute;
	margin-top:850px;
	font-family:微軟正黑體;	
	
	
}

#music{
	width:580px;
	margin-left:400px;
	
	
}

#music iframe{
	float:none;
	position:relative;
	margin:20px;
	margin-top:20px;
}

	 
	

